
<section id="product-list">
  <% @products.each do |product| %>
    <%= render partial: "products/list", locals: {product:product} %>
  <% end %>
</section> 
<style> main { display:flex; flex-direction:column; } </style>
